* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: Graphik;
    font-style: normal;
}

.container {
    width: 100%;
    height: 1206px;
}

.container .content1 {
    text-align: center;
}

.container .content1 h2 {
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    color: #252B42;
    padding-top: 40px;
}

.container .content1 h4 {
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #374754;
    padding-top: 27px;
}

.container .content2 .figma {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .content2 .figma .text-figma {
    margin-top: 40px;
    /* width: 453px;
    height: 669px; */
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}

.container .content2 .figma .text-figma h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #252B42;
    text-align: center;
    padding-top: 52px;
}

.container .content2 .figma .text-figma .type1 {
    width: 353px;
    height: 54px;
    background: #F5F5F5;
    padding-top: 15px;
    box-sizing: border-box;
    border-radius: 39px;
    margin: 30px auto;
}

.container .content2 .figma .text-figma .type1 input {
    border: 0px;
    background-color: #F5F5F5;
    font-size: 15px;
    line-height: 16px;
    padding-left: 20px;
}

.container .content2 .figma .text-figma .hex {
    width: 330px;
    height: 193px;
    background: #F5F5F5;
    margin: 0 auto;
    padding: 20px;
}

.container .content2 .figma .text-figma .hex textarea {
    border: 0;
    background-color: #F5F5F5;
    font-size: 15px;
    line-height: 16px;

}

.container .content2 .figma .text-figma button {
    background: #2091F9;
    font-size: 20px;
    line-height: 20px;
    width: 145px;
    height: 56px;
    color: #FFFFFF;
    margin: 30px 50px;
    border-radius: 35px;
    border: 0;
}

.container .content2 .figma .text1-figma {
    margin: 50px;
}

.container .content2 .figma .text1-figma .icon-figma ul {
    display: flex;
    text-align: center;
}

.container .content2 .figma .text1-figma .icon-figma ul .icon img {
    padding-bottom: 20px;
}

.container .content2 .figma .text1-figma .icon-figma ul h5 {
    font-size: 16px;
    line-height: 23px;
    color: #374754;
    padding: 20px;
}

.container .content2 .figma .text1-figma .img {
    text-align: center;
    padding-top: 40px;
}

.container .content2 .figma .text1-figma .style ul {
    display: flex;
    padding: 50px 20px;
}

.container .content2 .figma .text1-figma .style ul .styles {
    padding-right: 20px;
}

@media only screen and (max-width:600px) {
   
    .container .content1 {
        text-align: center;
        flex-direction: column;
    }
    .container .content1 h2 {
        font-weight: normal;
        font-size: 48px;
        line-height: 55px;
        color: #252B42;
        padding-top: 40px;
    }
    .container .content1 h4 {
        font-weight: normal;
        font-size: 28px;
        line-height: 40px;
        color: #374754;
        padding-top: 27px;
    }
    .container .content2 .figma {
        display: flex;
        flex-direction: column-reverse;
    }
    .container .content2 .figma .text1-figma {
        display: flex;
        flex-direction: column-reverse;
    }
    .container .content2 .figma .text1-figma .style ul {
        display: flex;
        padding: 50px 20px;
    }
    .container .content2 .figma .text1-figma .style ul .styles {
        padding-right: 20px;
    }
    
    .container .content2 .figma .text1-figma .icon-figma ul {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .container .content2 .figma .text1-figma .icon-figma ul .icon img {
        padding-bottom: 20px;
    }
    .container .content2 .figma .text1-figma .img {
        display: none;
    }
    .container .content2 .figma .text-figma {
        display: flex;
        flex-direction: column;
    }
    .container .content2 .figma .text-figma h3 {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #252B42;
        text-align: center;
        padding-top: 52px;
    }
    .container .content2 .figma .text-figma .type1 {
        width: 280px;
        height: 54px;
        background: #F5F5F5;
        padding-top: 15px;
        box-sizing: border-box;
        border-radius: 39px;
        margin: 30px auto;
    }
    .container .content2 .figma .text-figma .type1 input {
        border: 0px;
        background-color: #F5F5F5;
        font-size: 15px;
        line-height: 16px;
        padding-left: 20px;
    }
    
    .container .content2 .figma .text-figma .hex {
        width: 280px;
        height: 193px;
        background: #F5F5F5;
        margin: 0 auto;
        padding: 20px;
    }
    .container .content2 .figma .text-figma .hex textarea {
        border: 0;
        background-color: #F5F5F5;
        font-size: 15px;
        line-height: 16px;
     
        
    }
    .container .content2 .figma .text-figma button {
        background: #2091F9;
        font-size: 20px;
        line-height: 20px;
        width: 145px;
        height: 56px;
        color: #FFFFFF;
        margin: 30px 50px;
        border-radius: 35px;
        border: 0;
    }
}